<h1 mat-dialog-title>Fechamento de venda</h1>
<div mat-dialog-content class="full-width">
    <mat-form-field appearance="fill">
        <mat-label>Total Amount Payable</mat-label>
        <input matInput currencyMask readonly [(ngModel)]="data.amount"
            >
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Amount paid</mat-label>
        <input matInput currencyMask [(ngModel)]="data.amount_paid"
            (ngModelChange)="calc()" required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Payment method</mat-label>
        <mat-select id="pagamento" name="pagamento" [(value)]="data.payment" required>
            <mat-option [value]="payment" *ngFor="let payment of payments">{{payment}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>money change</mat-label>
        <input matInput currencyMask readonly [(ngModel)]="data.difference"
          >
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button [disabled]="data.difference<0 || data.payment==null" mat-button [mat-dialog-close]="data"
        cdkFocusInitial>Confirm Sale</button>
</div>
