<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<app-layout>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()"
      aria-label="Example icon-button with share icon">
      <mat-icon>menu</mat-icon>

    </button>





  </mat-toolbar>

  <mat-drawer-container class="example-container" >
    <mat-drawer #drawer class="example-sidenav" mode="side" opened>

      <mat-nav-list role="navigation">
        <mat-list-item role="listitem" [routerLink]="['/login']"
          routerLinkActive="router-link-active">Login</mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/product/index']" routerLinkActive="router-link-active">List
          Products</mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/product/add']" routerLinkActive="router-link-active">Add
          Products</mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/product-type/index']" routerLinkActive="router-link-active">List
          Product Type</mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/product-type/add']" routerLinkActive="router-link-active">Add
          Product Type</mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/sale/add']"
          routerLinkActive="router-link-active">Sale</mat-list-item>
        <mat-list-item role="listitem" [routerLink]="['/sale/index']"
          routerLinkActive="router-link-active">List Sales</mat-list-item>
      </mat-nav-list>

    </mat-drawer>

    <div class="example-sidenav-content">

      <router-outlet></router-outlet>
    </div>

  </mat-drawer-container>







</app-layout>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
